go 1.25.1

use (
	./go-packages/shared
	./apps/market-data-server
	./apps/order-server
	./apps/trading-strategy-server
	./go-packages/logger
	./go-packages/rabbitMQ
	./go-packages/websocket
	./go-packages/grpc
)
